@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Noto+Sans:wght@400;700&family=Open+Sans:wght@300;400;600&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif; }

html {
  font-size: 62.5%; }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }

.center-text {
  margin-top: 1.5rem;
  text-align: center; }

#me {
  font-size: 55px; }

.row {
  width: 100%;
  margin-left: 3rem;
  margin-right: 3rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .row__three-grid {
    margin-top: 1rem;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.5);
    padding: 0.3rem;
    border-radius: 0.5rem;
    height: 50rem;
    width: 35rem; }

.header {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  background-image: linear-gradient(to right, #7899d4, black);
  -webkit-background-clip: text;
  color: transparent; }

.paragraph {
  font-weight: 500;
  line-height: 2.3rem;
  font-size: 1.5rem;
  margin-bottom: 3rem; }

.btn {
  font-size: 1.5rem;
  font-family: 'Noto Sans', sans-serif;
  margin-top: 3rem;
  padding: 0.5rem;
  border: 1px solid #7899d4;
  -webkit-border: 1px solid #7899d4;
  text-transform: uppercase;
  -webkit-text-transform: uppercase;
  text-decoration: none;
  -webkit-text-decoration: none;
  color: #7899d4; }
  .btn:link {
    font-family: 'Noto Sans', sans-serif;
    margin-top: 3rem;
    padding: 0.5rem;
    border: 1px solid #7899d4;
    text-transform: uppercase;
    text-decoration: none;
    color: #7899d4; }
  .btn:hover {
    background-color: #7899d4;
    color: white; }
  .btn:active {
    background-color: #7899d4;
    color: white; }
